%div.twelve.columns

  %div.row

    %div.twelve.columns

      %div

        %h3 新しい質問

        %table
          %thead
            %tr
              %th ページ
              %th 質問内容
              %th 
          %tbody
          - @questions.not_solved.each do |question|
            %tr
              %td
                = link_to page_path question.questionable.id do
                  = question.questionable.title
              %td
                = question.title
              %td
                = link_to '回答する', edit_page_path(question.questionable.id, anchor: "question-#{question.id}")
