%div.twelve.columns

  %h2 Listing mail_deliveries

  %p.large.btn.primary
    = link_to 'New Mail delivery', new_mail_delivery_path

  %table.striped
    %thead
      %tr
        %th Name
        %th

    %tbody
    - @mail_deliveries.each do |mail_delivery|
      %tr
        %td
          = link_to mail_delivery, class: 'valign' do
            = mail_delivery.name
        %td
          %div.primary.small.btn
            = link_to 'Edit', edit_mail_delivery_path(mail_delivery)
          %div.danger.small.btn
            = link_to 'Destroy', mail_delivery, :method => :delete, :data => { :confirm => 'Are you sure?' }


