%nav#navbar-main-nav.navbar.headnav
  %nav.pull_left
    %ul
      %li
        = link_to 'Dashboard', dashboard_path

  %nav.pull_left
    %ul
      %li
        = link_to 'Projects', '#'

  %nav.pull_right
    %ul
      %li
        = link_to 'Profile', profile_path
      %li
        = link_to 'Logout', destroy_user_session_path, method: :delete

%div#inner_nav
  %div.row
    %ul.twelve.columns
      %li
        = link_to '要求'
      %li
        = link_to '前提条件(要件)', site_preconditions_path
      %li
        = link_to 'オプション', site_options_path
      %li
        = link_to 'ページ', pages_path
      %li
        = link_to 'メール配信', mail_deliveries_path
      %li
        = link_to 'バリデーション', validations_path
      %li
        = link_to 'Meetings', '#'
