= simple_form_for @site_precondition do |f|

  %div.row
    %div.twelve.columns
    - if @site_precondition.errors.any?
      #error_explanation
        %h3= "#{pluralize(@site_precondition.errors.count, "error")} prohibited this site_precondition from being saved:"
        %ul
          - @site_precondition.errors.full_messages.each do |msg|
            %li= msg

  %div.row

    = render 'menu', f: f

  %div.row

    %div.twelve.columns

      %fieldset
        
        %ul
          %li.field
            = f.label :name, class: 'inline'
            = f.input_field :name, class: 'input'
