%h1 Listing site_preconditions

%table
  %tr
    %th Title
    %th Page
    %th
    %th
    %th

  - @site_preconditions.each do |site_precondition|
    %tr
      %td= site_precondition.title
      %td= site_precondition.page
      %td= link_to 'Show', site_precondition
      %td= link_to 'Edit', edit_site_precondition_path(site_precondition)
      %td= link_to 'Destroy', site_precondition, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Site precondition', new_site_precondition_path
