%div.twelve.columns

  %p.large.btn.primary
    = link_to 'New Site Precondition', new_site_precondition_path

  %table.striped
    %thead
      %tr
        %th Name
        %th

    %tbody
    - @site_preconditions.each do |site_precondition|
      %tr
        %td
          = link_to site_precondition, class: 'valign' do
            = site_precondition.name
        %td
          %div.primary.small.btn
            = link_to 'Edit', edit_site_precondition_path(site_precondition)
          %div.danger.small.btn
            = link_to 'Destroy', site_precondition, :method => :delete, :data => { :confirm => 'Are you sure?' }


