%p#notice= notice

%p
  %b Title:
  = @site_precondition.title
%p
  %b Page:
  = @site_precondition.page

= link_to 'Edit', edit_site_precondition_path(@site_precondition)
\|
= link_to 'Back', site_preconditions_path
