%fieldset
  %legend 基本情報
  
  %ul
    %li.field
      = f.label :title, class: 'inline'
      = f.input_field :title, class: 'input'
    %li.field
      = f.label :url, class: 'inline'
      = f.input_field :url, class: 'input'

  %h4 ページ目標
  %ul
    = f.simple_fields_for :page_goals do |page_goal_form|
      = render 'page_goal_fields', f: page_goal_form
    %li
      = link_to_add_association 'ページ目標を追加', f, :page_goals
    

  %h4 オプション
  %ul
    = f.simple_fields_for :page_site_options do |page_site_option_form|
      = render 'page_site_option_fields', f: page_site_option_form
    %li
      = link_to_add_association '関連するオプションを追加', f, :page_site_options

  %h4 メール配信
  %ul
    = f.simple_fields_for :page_mail_deliveries do |page_mail_delivery_form|
      = render 'page_mail_delivery_fields', f: page_mail_delivery_form
    %li
      = link_to_add_association '関連するメール配信を追加', f, :page_mail_deliveries

%fieldset
  %legend 前提条件

  %ul
    = f.simple_fields_for :page_site_preconditions do |page_site_precondition_form|
      = render 'page_site_precondition_fields', f: page_site_precondition_form
    %li
      = link_to_add_association '前提条件を追加', f, :page_site_preconditions

%fieldset
  %legend 仕様

  %h4 仕様
  %ul
    = f.simple_fields_for :page_specs do |page_spec_form|
      = render 'page_spec_fields', f: page_spec_form
    %li
      = link_to_add_association '仕様を追加', f, :page_specs

  %h4 画面上の挙動
  %ul
    = f.simple_fields_for :page_actions do |page_action_form|
      = render 'page_action_fields', f: page_action_form
    %li
      = link_to_add_association '画面上の挙動を追加', f, :page_actions

  %h4 フォームとバリデーション

  %table.striped
    %thead
      %tr
        %th 表示上の名目
        %th システム上の名目
        %th フォーム部品の種別
        %th バリデーション内容
    %tbody
      %tr
        %td
        %td
        %td
        %td


%fieldset
  %legend リンク

  %table.striped
    %thead
      %tr
        %th{style: 'width: 40%;'} 表示要素
        %th リンク先ページ
        %th
    %tbody
      = f.simple_fields_for :page_links do |page_link_form|
        = render 'page_link_fields', f: page_link_form

  = link_to_add_association 'リンクを追加', f, :page_links, { data: {:'association-insertion-traversal' => 'prev',  :'association-insertion-node' => 'table',  :'association-insertion-method' => :append} }

%fieldset
  %legend 業態間における備考


%fieldset
  %legend WEB版との比較事項


%fieldset
  %legend 疑問点
  %ul
    = f.simple_fields_for :questions do |question_form|
      = render 'question_fields', f: question_form
    %li
      = link_to_add_association '疑問点を追加', f, :questions




