= simple_form_for @page do |f|

  %div.row

    %h2.twelve.columns
      %div.warning.xlarge.btn
        = link_to 'Cancel', pages_path
      %div.info.xlarge.btn
        = link_to 'Show', page_path
      %div.primary.xlarge.btn.pull_right
        = f.submit 'UPDATE'

  %div.row

    %div.two.columns
      = render 'form_images', :f => f

    %div.ten.columns
      
      %section.tabs
        %ul.tab-nav
          %li.active
            = link_to '機能仕様書', '#'
          %li
            = link_to 'デザイン指示書', '#'

      %div.tab-content.active
        = render 'form_system', :f => f

      %div.tab-content
        = render 'form_design', :f => f
