%tr.field
  %td
    = f.input_field :element_name, class: 'input'
  %td
    = f.input_field :input_type, collection: ['テキストフィールド', 'テキストエリア', 'プルダウン', 'ラジオボタン', 'チェックボックス'], class: 'input'
  %td
    %label.checkbox{for: "required_#{f.object.id}"}
      = f.input_field :required, as: :boolean, id: "required_#{f.object.id}", label: false, boolean_style: :inline
      %span
  %td
    = f.input_field :validation_id, collection: Validation.all, class: 'input'
  %td
    %div.danger.btn.small
      = link_to_remove_association "削除", f
