%tr.nested-fields
  %td.field
    = f.input_field :element_name, class: 'input'
  %td.field
    = f.input_field :input_type, collection: ['テキストフィールド', 'テキストエリア', 'プルダウン', 'ラジオボタン', 'チェックボックス'], class: 'input'
  %td
    = f.input_field :required, as: :boolean
  %td.field
    = f.input_field :validation_id, collection: Validation.all, class: 'input'
  %td.field
    %div.danger.btn.small
      = link_to_remove_association "削除", f
