%li.field.nested-fields
  %fieldset
    %h5{id: "question-#{f.object.id}"} 質問 
    = f.text_area :title, class: 'input textarea'
    = f.input_field :status, collection: Question.status.options, include_blank: false, class: 'input '
    -# %div.danger.btn.large
    -#   = link_to_remove_association "削除", f

    %h5 回答
    %ul
      = f.simple_fields_for :question_comments do |question_comment_form|
        = render 'question_comment_fields', f: question_comment_form
      %li
        = link_to_add_association '回答を追加', f, :question_comments
