%div.twelve.columns

  %h2 Listing pages

  %p.large.btn.primary
    = link_to 'New Page', new_page_path

  %table.striped
    %thead
      %tr
        %th Title
        %th Url
        %th

    %tbody
    - @pages.each do |page|
      %tr
        %td
          = link_to page, class: 'valign' do
            = page.title
        %td
          = link_to page, class: 'valign' do
            = page.url
        %td
          %div.primary.small.btn
            = link_to 'Edit', edit_page_path(page)
          %div.danger.small.btn
            = link_to 'Destroy', page, :method => :delete, :data => { :confirm => 'Are you sure?' }


