= simple_form_for @scenario, html: {class: '' } do |f|
  %fieldset
    = f.label :title
    = f.text_field :title, style: "width: 800px"

    = f.simple_fields_for :flowchart, @scenario.flowchart || Flowchart.new do |flowchart_f|
      = flowchart_f.input :dot, as: :text, label: :dot, input_html: {style: "width: 800px; height: 1000px; font-size: 1em;"}
      
    = f.submit 'Save', class: ''
