= render 'errors'

= simple_form_for @validation do |f|


  %div.row

    = render 'menu', f: f

  %div.row

    %div.twelve.columns

      %fieldset
        
        %ul
          %li.field
            = f.label :name, class: 'inline'
            = f.input_field :name, class: 'input'

        %ul
          %li.field
            = f.label :detail, class: 'inline'
            = f.text_field :detail, class: 'input'
