%div.twelve.columns

  %p.large.btn.primary
    = link_to 'バリデーションを追加する', new_validation_path

  %table.striped
    %thead
      %tr
        %th Name
        %th

    %tbody
    - @validations.each do |validation|
      %tr
        %td
          = link_to validation, class: 'valign' do
            = validation.name
        %td
          %div.primary.small.btn
            = link_to 'Edit', edit_validation_path(validation)
          %div.danger.small.btn
            = link_to 'Destroy', validation, :method => :delete, :data => { :confirm => 'Are you sure?' }


