%div.twelve.columns

  %p.large.btn.primary.pull_right
    = link_to 'オプションを追加する', new_site_option_path

  %table.striped
    %thead
      %tr
        %th Name
        %th

    %tbody
    - @site_options.each do |site_option|
      %tr
        %td
          = link_to site_option, class: 'valign' do
            = site_option.name
        %td
          %div.primary.small.btn
            = link_to 'Edit', edit_site_option_path(site_option)
          %div.danger.small.btn
            = link_to 'Destroy', site_option, :method => :delete, :data => { :confirm => 'Are you sure?' }


