!!!
%html.gumby-no-touch
  %head
    %title Spectacle
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body

    = render 'shared/navigation'

    %div#container.row
      %div.row.errors

        - if notice.present?
          %div.twelve.columns.alert.primary
            Notice: 
            = notice

        - if alert.present?
          %div.twelve.columns.alert.danger
            Alert:
            = alert

      = yield
